---
layout: page
---

<div> 
Nous sommes cinq étudiants en première année à Sciences Po Paris en Master Droit Economique. 
Dans le cadre de notre cours sur la vie sociale des données avec Dominique Cardon, nous avons étudié les façons dont les représentations de 
la société se transforment avec le déploiement des données numériques et les techniques d'Intelligence Artificielle. Avec le changement de ces
instruments de représentation, il est possible que les instrumentations changent elles-mêmes. Tous étudiants en droit, nous sommes rapidement 
tombés sur la question de la vie sociale des données juridiques. Ce sujet nous parait particulièrement intéressant, car le travail de tout 
juriste s'appuie sur des données : les données dans les textes de loi (= les codes), les données descas antérieurs (= la jurisprudence), 
ou dans les textes de juristes (= la doctrine). 
</div>

<div>
Ces différentes sources du droit sont essentielles au travail à la fois des magistrats et des avocats, ainsi que des juristes d'entreprise etc. 
Plusieurs bases de données existent regroupant ces données. Nous avons décidé d'analyser la base Francis Lefebvre car .... 
</div> 

<h3> Notre problématique </h3> 

<div style = "font-weight:bold"> De quelle façon l'avènement de la "justice digitale" et des bases de données jurisprudentielles bouleversent le système 
  juridique et ses acteurs? </div>

<h2> Notre plan </h2>

<div>
Pour ce faire, nous allons répondre à un certain nombre de questions : 
<br>
- Qui a créé ce jeu de données ? <br>
- A quelles fins cette base de données a-t-elle été créée ? <br>
- Quelles catégories sont utilisées pour le représenter ? <br>
- Quels sont les usages de ce jeu de données ? <br>
- Quelles sont les limites ou les critiques rencontrées par ce jeu de données ? <br>
- Quelles réalités ces données sont-ils censés représenter ? <br>
</div> 

<h2> Les difficultés rencontrées </h2>

