---
layout: page
---
<img src = "https://cdn.pixabay.com/photo/2020/01/20/22/21/palace-4781577__480.jpg" alt = "palais justice" style = "text-align: center">

<div> 
Nous sommes cinq étudiants en première année à Sciences Po Paris en Master Droit Economique. 
Dans le cadre de notre cours sur la vie sociale des données avec Dominique Cardon, nous avons étudié les façons dont les représentations de 
la société se transforment avec le déploiement des données numériques et les techniques d'Intelligence Artificielle. Avec le changement de ces
instruments de représentation, il est possible que les instrumentations changent elles-mêmes. Tous étudiants en droit, nous sommes rapidement 
tombés sur la question de la vie sociale des données juridiques. Ce sujet nous parait particulièrement intéressant, car le travail de tout 
juriste s'appuie sur des données : les données dans les textes de loi (= les codes), les données descas antérieurs (= la jurisprudence), 
ou dans les textes de juristes (= la doctrine). 
</div>

