---
layout: page
---
<img src = "https://cdn.pixabay.com/photo/2020/01/20/22/21/palace-4781577__480.jpg" alt = "palais justice" style = "text-align: center">

<div> 
Nous sommes cinq étudiants en première année à Sciences Po Paris en Master Droit Economique. Dans le cadre de notre cours sur
  la vie sociale des données dispensé par le professeur Dominique Cardon, nous avons étudié les façons dont les représentations
  de la société se transforment avec le déploiement des données numériques et les techniques d'Intelligence Artificielle. Avec 
  le changement de ces instruments de représentation, il est possible que les instrumentations changent elles-mêmes. 
  Tous étudiants en droit, nous sommes rapidement tombés sur la question de la vie sociale des données juridiques. 
  Ce sujet nous paraît particulièrement intéressant car le travail de tout juriste s'appuie sur des données : les décisions
  antérieures (jurisprudence), les commentaires de ces décisions (la doctrine) et surtout les textes juridiques. Nous avions
  donc un objectif : enquêter sur une base de données juridiques. Nos recherches se sont orientées en premier lieu sur les 
  grands éditeurs du monde juridique. Ce site web est le compte-rendu de notre enquête. 
</div>

<div>
  <a href="/aboutme.md"> La présentation de notre méthodologie </a>
</div>

<div>
  <a href="/utilisateurs.md"> Analyse des utilisateurs et utilisations </a>
</div>

<div> METTRE TOUT LE PLAN ICI AVEC LIENS VERS CHAQUE PARTIE </div>
